/* merriweather-300 - latin */
@font-face {
  font-display: swap;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/merriweather-v32-latin-300.woff2') format('woff2');
}

/* merriweather-300italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/merriweather-v32-latin-300italic.woff2') format('woff2');
}

/* merriweather-regular - latin */
/* NOTE: this is available, but it doesn't seem to be what I used before, so just commenting it out
@font-face {
  font-display: swap;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/merriweather-v32-latin-regular.woff2') format('woff2');
}
*/

/* merriweather-900 - latin */
@font-face {
  font-display: swap;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/merriweather-v32-latin-900.woff2') format('woff2');
}

/* merriweather-900italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 900;
  src: url('../fonts/merriweather-v32-latin-900italic.woff2') format('woff2');
}

/* lato-300 - latin */
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/lato-v24-latin-300.woff2') format('woff2');
}

/* lato-300italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/lato-v24-latin-300italic.woff2') format('woff2');
}

/* lato-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lato-v24-latin-regular.woff2') format('woff2');
}

/* lato-900 - latin */
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/lato-v24-latin-900.woff2') format('woff2');
}

/* lato-900italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: url('../fonts/lato-v24-latin-900italic.woff2') format('woff2');
}

.mastodon-profile img {
  height: 0.8em;
}

.mastodon-profile {
  opacity: 0.65;
}

.mastodon-profile:hover {
  opacity: 1;
}

.site-header .separator {
  top: 2px;
  position: relative;
}

.post h1 {
  margin-top: 0;
}

.topic-link {
  margin-right: .2em;
}

img.full-width {
  /* Center on its own line */
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* Don't make it overwhelmingly wide */
  max-width: 75%;
  /* Maintain aspect ratio */
  height: auto;
  /* But don't want it taller than the viewport */
  max-height: 100vh;
}

img.wrap-right {
  float: right;
}

/* For narrower mobile devices */
@media (max-width: 767px) {
  img.full-width {
    /* Let it go full width for mobile */
    max-width: 100%;
  }
}

blockquote p {
  font-size: 1rem;
}

blockquote p:last-child {
  margin-bottom: 0;
}

@keyframes flash-highlight {
  0%   { background-color: yellow; }
  100% { background-color: transparent; }
}

.footnote:target, .link-to-footnote:target {
  animation: flash-highlight 3s ease-out;
}
