/*!

  BASSCSS

  Next-level CSS toolkit - basscss.com

  Made with love by Jxnblk - ©2014 Brent Jackson
  MIT License http://opensource.org/licenses/MIT

*/

@import 'basscss/base-buttons';
@import 'basscss/base-forms';
@import 'basscss/base-reset';
@import 'basscss/base-typography';

@import 'basscss/buttons-blue';

@import 'basscss/syntax-highlighting';
@import 'basscss/color-base';
@import 'basscss/colors';

figcaption {
  font-size: 1rem;
  line-height: 1.25rem;
  font-style: italic;
}

figure.right {
  margin-top: .5rem;
}

@import 'basscss/utility-headings';
@import 'basscss/utility-typography';
@import 'basscss/utility-white-space';
